<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050751488222-9mhg9vc9lf3dkac9mj6350ljo8kisiiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050751488222-9mhg9vc9lf3dkac9mj6350ljo8kisiiq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1050751488222-gsj1q04fc2pr12b271fteejrdib8eq59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrOBKUU_0Kh0f46fl5KlREicBKJxKGjcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1050751488222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lysts</string>
	<key>PROJECT_ID</key>
	<string>todoapp-68338</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-68338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050751488222:ios:72a3d2680e12d90dbdb24f</string>
</dict>
</plist>